body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.carousel-inner .carousel-caption {
  display: flex;
  justify-content: center;
}

.carousel-caption {
  background-color: rgba(39, 39, 39, 0.6);
  border: 2mm ridge rgba(5, 5, 5, 0.4);
  border-radius: 0.5rem;
  -webkit-text-stroke: 2px black;
}

.carousel-caption:hover {
  transform: scale(105%);
  cursor: pointer;
}

.carousel-item {
  height: 600px;
}

.carouselImage {
  height: 600px;
  width: 100%;
  border-top: 4px solid rgb(52, 202, 152);
  border-bottom: 4px solid rgb(52, 202, 152);
}

.btn-footer {
  width: 55px;
  height: 55px;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  outline: 2px solid rgb(52, 202, 152);
}

.btn-footer:hover {
  padding: 4px;
  cursor: pointer;
  background-color: white;
  outline: 3px solid rgb(52, 202, 152);
}

.bg-slate {
  background-color: #081417;
}

.searchHeader {
  font-family: "Press Start 2P", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

/* Review Cards Section */
.reviewsHeader {
  font-family: "Audiowide", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  text-shadow: 0 3px 4px rgb(45, 206, 152);
}

.quote {
  color: black;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding-bottom: 2%;
  border-radius: 0.5rem;
}

.title {
  font-size: 24px;
  color: transparent;
  font-family: "Press Start 2P";
  background: linear-gradient(215deg, rgb(7, 6, 6), rgb(3, 109, 8));
  background-clip: text;
  -webkit-background-clip: text;
}

.reviews {
  background-color: rgba(39, 39, 39, 0.6);
  margin: 2%;
  padding: 2%;
  border-radius: 0.5rem;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0 8px rgba(52, 202, 152, 0.7);
}

.reviewCard {
  background: linear-gradient(
    185deg,
    rgb(63, 243, 183),
    rgb(52, 202, 152),
    rgb(40, 155, 116),
    rgb(7, 29, 22)
  );
  border: 4px inset rgb(255, 255, 255);
  box-shadow: -15px 15px 2px rgb(22, 90, 81);
  width: calc((100% / 2.85) - 40px);
  border-radius: 0.2rem;
  padding: 8px;
  margin-left: 10%;
  margin-bottom: 4%;
}

.author {
  text-align: end;
  color: white;
}

.date {
  font-size: 12px;
  text-align: end;
  color: white;
}

.game {
  font-size: 15px;
  text-align: start;
  margin-top: 3%;
  padding-right: 2%;
  border-right: 2px solid black;
}

.platform {
  font-size: 15px;
  margin-top: 3%;
  margin-left: 2%;
  color: rgb(47, 102, 104);
}

.thumbnail {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 0;
  top: -16px;
  border-radius: 0.5rem;
  box-shadow: 0 0 4px rgb(0, 0, 0);
}

.flexWrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.gamePanel {
  padding-bottom: 1.5%;
  border-bottom: 1px solid black;
}

.game:hover {
  cursor: pointer;
  color: aqua;
  border-left: 2px solid black;
  padding: 1px;
  transform: scale(103%);
  margin-top: 2.5%;
  padding-right: 2%;
  padding-left: 2%;
}

.reviewBody {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.2rem;
  margin-top: 2%;
  padding: 4px;
  font-size: 14px;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  line-height: 2;
}

.reviewRating {
  background-color: rgba(0, 255, 0, 0.37);
  color: rgb(255, 255, 255);
  justify-content: end;
  border: 1px solid black;
  border-radius: 0.2rem;
  box-shadow: 0 0 2px black;
  padding: 1px;
  position: absolute;
  right: 0px;
  top: -17px;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.ratingText {
  font-size: 34px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 1px;
}

.outOf {
  font-size: 10px;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  color: black;
  -webkit-text-stroke: 0;
}

.elipse:hover {
  color: blue;
  cursor: pointer;
}

.elipse:hover .readMore {
  visibility: visible;
}

.elipse {
  font-size: 16px;
  position: relative;
}

.readMore {
  visibility: hidden;
  font-size: 12px;
  text-align: center;
  background-color: rgba(39, 39, 39, 0.6);
  color: white;
  width: 70px;
  border-radius: 0.5rem;
  margin-left: 5px;
  position: absolute;
  top: -15px;
  left: -25px;
}

/* STYLING FOR SEARCH GAMES */

.reviewCardtwo {
  background: linear-gradient(
    185deg,
    rgb(63, 243, 183),
    rgb(52, 202, 152),
    rgb(40, 155, 116),
    rgb(7, 29, 22)
  );
  border: 4px inset rgb(255, 255, 255);
  box-shadow: 8px 6px 5px rgb(22, 90, 81);
  width: 95%;
  border-radius: 0.2rem;
  padding: 4px;
  margin-left: 2%;
  margin-bottom: 2%;
  height: 150px;
  margin-top: 2%;
}

.card-container {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}

.card-container .card {
  height: 100%;
  width: 100%;
  padding: 2px;
  margin: 15px;
}

.card-image {
  height: 150px;
  object-fit: cover;
}

.fixed-button-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  text-align: right;
  width: 150px;
}

/* STYLE FOR SEE YOUR GAMES */
.navlink {
  color: azure;
  margin-right: 78px;
  border: 2px solid teal;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(20, 190, 196, 0.692);
  font-size: 30px;
  border-radius: 0.5rem;
}

.navlink:hover {
    background-color: rgba(20, 190, 196, 0.5);
    transform: scale(105%);
    border-color: rgba(52, 202, 152, 0.7);
    text-shadow: 0 0 4px rgba(52, 202, 152, 0.7);
}

.profileWelcome h1 {
  font-family: "Press Start 2P";
}

.profileWelcome h3 {
  font-size: 40px;
  padding: 1%;
  font-style: italic;
}

/* STYLE FOR SAVEDGAMES MODAL */
/* .modal-backdrop.show {
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.76);
} */

.modal-content {
  background-color: #fffbfbcb;
  box-shadow: 0px 0px 2px #fffbfb;
}

.discussion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.button-spacing {
  margin-right: 5px;
}

.hoverButton:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.game-card {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.game-card-row {
  display: flex;
  flex-wrap: wrap;
}

.game-card {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-bottom: 75px;
  position: relative;
}

.game-card .card-body {
  flex: 1 0 auto;
}

/* .hover-effect {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
} */

.absolute-button-wrapper {
  position: absolute;
  bottom: -25px;
  left: 10px;
}

.search-input:focus {
  outline-color: black;
  box-shadow: 0 0 0 0.3rem rgb(196, 190, 190);
  border: rgb(196, 190, 190);
}

#navbar {
  position: absolute;
  right: 2%;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1800px) {
  .reviewCard {
    margin: 1%;
    width: calc((100% / 2.5));
  }

  .reviews {
    justify-content: center;
    margin: 0;
  }
}

@media only screen and (max-width: 1200px) {
  #navbar {
    text-align: center;
    margin-left: 10%;
    position: relative;
  }

  #navbar .navlink {
    margin-bottom: 3%;
    padding: 2%;
    width: 90%;
  }

  .navbar-toggler {
    position: absolute;
    top: 0;
    right: 2%;
  }

  .carousel-item {
    height: 300px;
  }

  .carouselImage {
    height: 300px;
  }

  .carousel-caption {
    padding: 1px;
  }

  .carousel-caption h3 {
    font-size: 18px;
  }

  .searchHeader {
    text-align: center;
  }

  .reviewsHeader {
    padding-bottom: 7%;
  }

  .reviewCard {
    margin: 1%;
    width: 90%;
  }

  .reviews {
    justify-content: center;
    margin: 0;
    border-radius: 0;
    padding-bottom: 7%;
    margin-bottom: 1%;
    width: 105%;
  }

  .title {
    font-size: 16px;
  }

  .gamePanel {
    padding-bottom: 4%;
    flex-direction: column;
  }

  .game,
  .platform {
    margin-top: 0;
    font-size: 11px;
    text-align: center;
  }

  .game:hover {
    border: none;
    text-decoration: underline;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    transform: scale(105%);
  }

  .ratingText {
    font-size: 30px;
  }

  .thumbnail {
    width: 58px;
    height: 58px;
  }

  .modal-content {
    width: 94%;
  }
}
