body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.carousel-inner .carousel-caption {
  display: flex;
  justify-content: center;
}

.carousel-caption {
  background-color: rgba(39, 39, 39, 0.6);
  border: 2mm ridge rgba(5, 5, 5, 0.4);
  border-radius: 0.5rem;
  -webkit-text-stroke: 2px black;
}

.carousel-item {
  height: 600px;
}

.btn-footer {
  width: 55px;
  height: 55px;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  outline: 2px solid rgb(52, 202, 152);
}

.btn-footer:hover {
  padding: 4px;
  cursor: pointer;
  background-color: white;
  outline: 3px solid rgb(52, 202, 152);
}

.bg-slate {
  background-color: #081417;
}

/* Review Cards Section */
.quote {
  color: black;
  font-size: 30px;
  text-align: center;
}

.reviews {
  background-color: rgba(39, 39, 39, 0.6);
  margin: 2%;
  padding: 2%;
  border-radius: 0.5rem;
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.reviewCard {
  background: linear-gradient(
    185deg,
    rgb(63, 243, 183),
    rgb(52, 202, 152),
    rgb(40, 155, 116),
    rgb(7, 29, 22)
  );
  border: 4px inset rgb(255, 255, 255);
  box-shadow: -15px 15px 2px rgb(22, 90, 81);
  width: calc((100% / 2.85) - 40px);
  border-radius: 0.2rem;
  padding: 8px;
  margin-left: 10%;
  margin-bottom: 4%;
}

.author {
  text-align: end;
  color: white;
}

.date {
  font-size: 12px;
  text-align: end;
  color: white;
}

.game {
  margin-left: 4%;
  font-size: 15px;
  margin-top: 3%;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
}

.reviewRating {
  font-size: 34px;
  color: rgb(255, 255, 255);
  justify-content: end;
  height: 28px;
  margin-left: 40px;
  -webkit-text-stroke: 2px rgb(0, 0, 0);
}

.flexWrapper {
  display: flex;
  justify-content: center;
}

.gamePanel {
  padding-bottom: 1.5%;
  border-bottom: 1px solid black;
}

.game:hover {
  cursor: pointer;
  color: aqua;
  transform: scale(110%);
}

.reviewBody {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 2%;
  padding: 4px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 2;
}

.title {
  font-style: italic;
  font-size: 24px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: underline;
}

.outOf {
  font-size: 10px;
  color: black;
  -webkit-text-stroke: 0;
}

.elipse:hover {
  color: blue;
  cursor: pointer;
}

.elipse:hover .readMore {
  visibility: visible;
}

.elipse {
  font-size: 16px;
  position: relative;
}

.readMore {
  visibility: hidden;
  font-size: 12px;
  text-align: center;
  background-color: rgba(39, 39, 39, 0.6);
  color: white;
  width: 70px;
  border-radius: 0.5rem;
  margin-left: 5px;
  position: absolute;
  top: -15px;
  left: -25px;
}

/* STYLING FOR SEARCH GAMES */

.reviewCardtwo {
  background: linear-gradient(
    185deg,
    rgb(63, 243, 183),
    rgb(52, 202, 152),
    rgb(40, 155, 116),
    rgb(7, 29, 22)
  );
  border: 4px inset rgb(255, 255, 255);
  box-shadow: 8px 6px 5px rgb(22, 90, 81);
  width: 95%;
  border-radius: 0.2rem;
  padding: 4px;
  margin-left: 2%;
  margin-bottom: 2%;
  height: 150px;
  margin-top: 2%;
}

.card-container {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}

.card-container .card {
  height: 100%;
  width: 100%;
  padding: 2px;
  margin: 15px;
}

.card-image {
  height: 150px;
  object-fit: cover;
}

.fixed-button-wrapper {
  position: absolute;
  top: 10px; /* Adjust this value to set the desired vertical position from the top */
  right: 10px; /* Adjust this value to set the desired horizontal position from the right */
  z-index: 999; /* Adjust the z-index as needed to ensure the button is above other elements */
  text-align: right; /* Center the button horizontally within the wrapper div */
  width: 150px; /* Adjust this value to set the button width as needed */
}